@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*{  
    
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 

}

body{
    margin: 0;
    padding: 0;
    background-image: url(full-stacker2.jpg) ;
    background-size: cover;
    
    
}

.cont{
    display: flex;
    z-index: 1;
    margin: 0 auto;
    font-family: Aldrich;
    padding: 20px;
    text-transform: uppercase;
}
nav{
    position: relative;
    font-family: Aldrich;
    margin-left: 3%;
    font-size: 2rem;
    
}



