@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {

    background-color:darkseagreen;
    font-family: 'Aldrich', sans-serif;
    padding: 10px 50px;
    height: 900px;
    background-image: url(full-stacker2.jpg);
    background-size:cover;
   
}
h1{
    text-align:center;
    color: rgb(66, 60, 60);
    font-family: 'Aldrich';

}

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}